@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="bg-danger text-uppercase text-info">Index của demo</h2>
    <p class="bg-black text-danger">THIS IS MY PROJECT</p>
    <p>
        <a asp-controller="Home" asp-action="index" class="btn btn-success">Quay lại trang chủ</a>
    </p>
</div>

