
@{
    ViewData["Title"] = "GetAllProduct";
}

<div class="text-center">
    <h1 class="display-4">GetAllProduct</h1>
    <h2>
        @ViewData["messageVD"]
    </h2>
    <h2>
        @ViewBag.messageVB
    </h2>
    <h2>
        @TempData["messageTD"]
    </h2>
</div>

